@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;
    }

    * {
        @apply font-poppins outline-0;
    }

    .site-container {
        @apply max-w-[1240px] px-[20px] mx-auto;
    }

    .apddm .menu-item.active {
        @apply text-zinc-900 bg-zinc-100 dark:text-zinc-50 dark:bg-zinc-800;
    }
}

@layer components {
    .site-main-menu {
        @apply flex justify-start items-start flex-col md:flex-row md:items-center md:justify-center gap-x-[35px] gap-y-[10px];
    }

    .site-main-menu li .nav-link {
        @apply font-poppins text-[14px] md:text-[16px] font-semibold text-zinc-400 dark:text-zinc-400;
    }

    .site-main-menu li .nav-link:hover,
    .site-main-menu li .nav-link:active,
    .site-main-menu li .nav-link.active {
        @apply text-zinc-950 dark:text-zinc-100;
    }

    .site-main-menu li.active .nav-link {
        @apply text-zinc-950 dark:text-zinc-100;
    }

    .grid-bg {
        --grid-color: #e4e4e7;
        --grid-line-size: 0.5px;
        background-image: linear-gradient(var(--grid-color) var(--grid-line-size), transparent var(--grid-line-size)), linear-gradient(to right, var(--grid-color) var(--grid-line-size), transparent var(--grid-line-size));
        background-size: 55px 55px;
        background-color: rgba(71, 212, 255, 0);
    }

    .dark .grid-bg {
        --grid-color: #18181b;
    }

    .digonal-lines-bg {
        --line-bg-color: #a1a1aa;
        --line-degree-angle: 45deg;
        --line-thickness: 0.5px;
        background-image: repeating-linear-gradient(var(--line-degree-angle), var(--line-bg-color) 0, var(--line-bg-color) var(--line-thickness), transparent 0, transparent 50%);
        background-size: 55px 55px;
        background-color: rgba(71, 212, 255, 0);
    }

    .dark .digonal-lines-bg {
        --line-bg-color: #3f3f46;
    }

    .prog-check {
        @apply relative;
    }

    .prog-check .label {
        @apply flex gap-x-[5px] items-center cursor-pointer;
    }

    .prog-check .label .checkbox-sq {
        @apply relative rounded-[2px] w-[16px] h-[16px] border-[1px] border-solid border-zinc-500 dark:border-zinc-400;
    }

    .prog-check .label .checkbox-sq .checkmark-tick {
        @apply transition-all delay-75 absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 text-zinc-500 dark:text-zinc-400;
    }

    .prog-check .pt-checkbox {
        @apply hidden opacity-0 z-[-1] absolute left-0 top-0;
    }

    .prog-check .label-text {
        @apply inline-block font-poppins text-[12px] md:text-[12px] text-zinc-500 dark:text-zinc-400;
    }

    .prog-check .label:has(.pt-checkbox:checked) .checkbox-sq {
        @apply bg-zinc-500 dark:bg-zinc-400;
    }

    .prog-check .label:has(.pt-checkbox:checked) .checkbox-sq .checkmark-tick {
        @apply opacity-100 text-zinc-100;
    }
}

@layer utilities {
    .about-content p {
        @apply block pb-[20px] font-roboto_mono text-[14px] md:text-[16px] text-zinc-600 dark:text-zinc-400;
    }

    .user-settings-nav {
        @apply flex gap-x-[15px] gap-y-[5px] flex-row mdl-1:flex-col overflow-x-auto mdl-1:overflow-visible;
    }

    .user-settings-nav li {
        @apply w-auto mdl-1:w-full;
    }

    .user-settings-nav li .nav-link {
        @apply inline-block mdl-1:block px-[15px] mdl-1:px-[20px] py-[7px] mdl-1:py-[10px] font-poppins text-[14px] md:text-[16px] text-zinc-900 bg-transparent hover:underline dark:text-zinc-200 rounded-[7px];
    }

    .user-settings-nav li.active .nav-link {
        @apply bg-theme-grey-1 dark:bg-zinc-900 font-semibold hover:no-underline;
    }

    .PopoverContent {
        width: var(--radix-popover-trigger-width);
        max-height: var(--radix-popover-content-available-height);
    }

    .adjDragLab>[data-rfd-droppable-id] {
        @apply flex w-full gap-x-[15px] gap-y-[10px] flex-wrap items-center py-[10px] px-[20px];
    }
}